.loginBox {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border-radius: 1vw;
    background-color: var(--lightBgColor);
    padding: 5%;
}

.loginBox a span {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline;
    display: inline;
}

.loginBox input {
    border-radius: 2vh;
    border: 1px solid var(--spanColor);
    padding: 0.3rem 0.8rem;
    display: block;
    background-color: var(--mainBgColor);
}


.loginBox .btn {
    background-color: var(--mainText);
    color: var(--spanColor);
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    padding: 0.7vh;
    border-radius: 2vh;
}

.loginBox .btn:hover {
    transform: scale(1.1);
}