.imgContainer{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);
    grid-template-areas: "c c c""c c c""p p p";
    row-gap: 0px;
}

.coverImg{
    grid-area: c;
}

.profileImg{
    grid-area: p;
    display: flex;
   justify-content: center;
}

.coverImg img{
    width:600px;
    height:100px;
    cursor: pointer;

}
.profileImg img{
    width:200px;
    height:70px;
    border-radius: 50%;
    cursor: pointer;
}

