.imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    min-height: 100px;
    text-align: center;
    cursor: pointer;
}

.coverImg{
    width: 80%;
    height: 100%;
}

.coverImg img{
    border-radius: 1vw;
    width: 100%;
}

.profileImg{

}

.profileImg img{
    width: 150px;
    border-radius: 50%;
    margin-top: -50%;
    border: solid 5px white;
}

.profileName h3{
    text-decoration: none;
}

