.advComponent{
    background-color: white;
    width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1em;
  border-radius: 1em;
  height: 100%;

}
.advImg{
    height: 100%;
    /* background-color: white; */
    width: 100%;
    padding: 1em;
    


}