.friendList{
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: var(--spanColor);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-bottom: 0.3em;
    min-height: 18em;
 margin-left: 1.5em;
}
.boxTitle{
    background-color:var(--mainColor) ;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    text-align: center;
}

.boxTitle h3{
    font-size:1.2em !important;  
    padding: 0.3em;
   color:white;
 }
 .friendCard{
    background-color: var(--spanColor);
    box-shadow: 0px 0px 18px 0px var(--mainBgColor);
    border-radius: 1em;;
    display: flex;
    justify-content: space-between;
    gap: 0.8em;
    padding: 0.8em;
    margin:0.4em;
}

 .friendInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.friendInfo img {
    width:2em !important;
    height:2em !important;
    border-radius: 50%;
    cursor: pointer;
}

.friendInfo h3{
font-size:0.9em !important;  
 cursor: pointer;
}


.friendButtons{
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    align-items: center;
    text-align: center;


}

.friendButtons button{
    border: none;
    padding:0.5em ;
    color: var(--spanColor);
    background-color: var(--mainColor) ;;
    border-radius: 1em;
    cursor: pointer;
    width: 4.8em;
    font-size: 0.9em;
    transition: 0.5s ease;
}

.friendButtons button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.showMore{
    font-size:1em !important;  
    padding: 0.3em;
   border-radius: 0.5em;
   text-align: right;
   margin-right: 0.5em;
   transition: 0.5s ease;
}

.showMore:hover{
cursor: pointer;
color:var(--mainColor);
transform: translateX(0.3em);
}