.friendList{
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    margin: 0;
    background-color: var(--spanColor);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 14em;
    padding-bottom: 0.1em;
    padding-top: 0;
}
.boxTitle{
    background-color:var(--mainColor) ;
    border-radius: 0.5em;
    text-align: center;
}


.boxTitle h3{
    font-size:1.2em !important;  
    padding: 0.3em;
   border-radius: 0.5em;
   color:white;
 }

.renderedFriend{
    background-color: var(--spanColor);
    box-shadow: 0px 0px 18px 0px var(--mainBgColor);
    border-radius: 1em;;
    display: flex;
    margin:0.3em;
    gap: 0.8em;
    padding: 0.3em;
    align-items: center;
}

.renderedFriend img{
    width: 2em;
    border-radius: 50%;
    cursor: pointer;
}

.showMore{
    font-size:1em !important;  
    padding: 0.3em;
   border-radius: 0.5em;
   text-align: right;
   margin-right: 0.5em;
   transition: 0.5s ease;
}

.showMore:hover{
cursor: pointer;
color:var(--mainColor);
transform: translateX(0.3em);
}