.friendIcon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;

}

.friendIcon img {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.friendIcon h4 {
    font-size: 0.9rem;
}