.messageCardsContainer{
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: var(--spanColor);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-bottom: 0.3em;
}

.messageCard{
    background-color: var(--spanColor);
    box-shadow: 0px 0px 18px 0px var(--mainBgColor);
    border-radius: 1em;;
    display: flex;
    justify-content: space-between;
    gap: 0.8em;
    padding: 0.8em;
    margin:0.3em;
}
.senderInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

}
.senderInfo img {
    width: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.senderInfo h3{
font-size:0.9em !important;  
 cursor: pointer;
}


.inboxButtons{
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    align-items: center;
    text-align: center;
}

.inboxButtons button{
    border: none;
    padding:0.5em ;
    color: var(--spanColor);
    background-color: var(--mainColor) ;;
    border-radius: 1em;
    cursor: pointer;
    width: 4.8em;
    font-size: 0.9em;
    transition: 0.5s ease;
}

.inboxButtons button:hover {
    transform: scale(1.2);
    cursor: pointer;
}