.userIcon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: space-around;
}
.userIcon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
   margin-left: 80px;
}
.userImg{
display: flex;
flex-direction: row;
}
.userName {
    display: flex;
  flex-direction: row;
justify-content: space-around;
}
.userName button{
    border-radius: 10px;
    width: 50%;
    background-color: rgb(67, 67, 203);
}