.modalBox {
    /* to keep the box showing while scrolling */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: var(--lightBgColor);
}

.modalBox .contentsContainer {
    width: 50%;
    /* to keep the box showing while scrolling */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /*flex directionto be changed later */
    flex-direction: column;
    background-color: var(--spanColor);
    box-shadow: 0px 0px 18px 0px var(--mainBgColor);
    border-radius: 1vh;
}

.modalBox .contentsContainer img {
    width: 20%;
    object-fit: cover;
    border-radius: 1vh;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 2vh;
}

.modalRight {
    width: 100%;
}

.closeModalBox {
    position: fixed;
    top: 10%;
    right: 5%;
    font-size: 2rem;
    transition: 0.5s ease;
}

.closeModalBox:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.modalRight .boxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    padding: 1%;
}

.modalRight .boxContent textarea {
    width:100%;
    margin-top: 7%;
    padding: 1%;
    height:15vw;
;}


.actionButtonsContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 2%;
}


.actionButtonsContainer .actionButton {
    /* might be checked later with the number of buttons that are going to be rendered */
    width: 8vw;
    /* margin-bottom: 2vh; */
    padding: 1%;
    border-radius: 4vw;
    background-color: var(--mainText);
    color: var(--spanColor);
    border: none;
    font-size: 1.3rem;
    transition: 0.2s ease;
}

.actionButtonsContainer .actionButton:hover {
    /* might be checked later with the number of buttons that are going to be rendered */
    cursor: pointer;
    transform: scale(1.2);

}