.modalBox {
    /* to keep the box showing while scrolling */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: var(--lightBgColor);
    /* display: flex;
    flex-direction: column; */
}

.modalBox .contentsContainer {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--spanColor);
    box-shadow: 0px 0px 18px 0px var(--mainBgColor);
    border-radius: 3vh;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap:1vh

}
.boxMessage{
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    height: 4vh;
    padding-bottom:5vh ;
}

.boxMessage h3{
    text-decoration: none;
    font-size:1rem;
}
.closeModalBox {
    font-size: 2rem;
    transition: 0.5s ease;
}
.closeModalBox:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.modalPhoto img {
    width: 150px;
    height:150px;
    border-radius: 50%;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 1vh;
    object-fit:fill;
}
/* elsho3ól el9a7 mn hoon */

.modalBoxIcon{
    display: inline-block;
    font-size: 3.5rem;
    color:rgb(54, 54, 237);
    cursor: pointer;
}
.modalBottom {
    width: 100%;
}

.boxContent {
    /* display: flex;
    flex-direction: column;
    gap:1vh; */
}


.modalBottom .boxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1%;
}

.modalBottom .boxContent textarea {
    width:100%;
    padding: 4%;
    font-size: 1.2rem;;
    height:10vw;
    border-radius:1.5vh;
    resize: none;
}


.actionButtonsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    /* to center the icon and the button on one line but it didn't work */
    /* height: 5vh; */
}


.actionButtonsContainer .actionButton {
    width: 8vw;
    min-height: 2.6rem;
    /* height: 5vh; */
    padding: 0.1vh;
    border-radius: 3vw;
    background-color:  rgb(54, 54, 237);
    /* background-color: var(--mainText); */
    color: var(--spanColor);
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.2s ease;
    /* line-height:5vh; */
}

 .actionButton:hover ,.modalBoxIcon:hover {
    /* might be checked later with the number of buttons that are going to be rendered */
    cursor: pointer;
    transform: scale(1.2);

}