/* darkMode & lightMode*/
:root {
  --mainText: #003049;
  --mainBgColor: rgba(0, 0, 0, 0.1);
  --mainBgColorHeavy: rgba(0, 0, 0, 0.85);
  --spanColor: rgba(255, 255, 255, 0.9);
  --lightBgColor: rgba(255, 255, 255, 0.7);
  --onHover: rgba(255, 226, 76, 0.6);
  /* --mainBgImg: url("../src/components/assets/bgReg.jpg"); */
  --regBgImg: url("../src/components/assets/bgReg.jpg");
  /* used colors */
  --spanColor: rgba(255, 255, 255, 0.9);
  --mainColor:#4267B2;
  --lightBlueBgColor:rgba(66, 103, 178,0.5);
  --mainBackColor:#898F9C;
}


* {
  margin: 0vh 0vw;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--mainText); */
  text-decoration: none;
  list-style: none;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#root {
  /* background setting */
  /* background: var(--mainBgImg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  height: 100vh;
  width: 100vw;

}

.componentsContainer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 1em;
  /* grid-template-areas: "nav nav nav""ls1 m1 rs1""ls1 m2 rs1""ls2 m3 rs2""ls2 m3 rs2""ftr ftr ftr"; */
  grid-template-areas: 
  "nav nav nav"
  "cvr cvr cvr"
  "ls1 m1 rs1"
  "ls1 m2 rs1"
  "ls2 m3 rs2"
  "ls2 m4 rs2"
  "ftr ftr ftr";
  width: 100%;
  height: 100%;
   /* overflow-y: scroll; */
  /* overflow-x: hidden;  */
  overflow-y:scroll;
  
}

.navBarComponent {
  border: 2px blue solid;
  background-color: red;
  grid-area: nav;
  
}
.AdminNavBarComp{
  /* border: 2px blue solid; */
  background-color: red;
  grid-area: nav;
  
}

.profileImgsComponent
{
  grid-area: cvr;
  
}

.advComponent {
  /* border: 2px blue solid; */
  background-color: red;
  grid-area: rs1/rs1/rs2/rs2;
  /* align-self: end; */
  
}

.createPostComponent {
  grid-area: m1;
}

.showsPostComponent {
  grid-area:m2/m3/m3 ;
  
}

.friendListComponent {
  grid-area: ls1/ls1/ls2/ls2;
}

.suggestedComponent {
  border: 2px blue solid;
  background-color: red;
  grid-area: ls2;
  
}


.messagesComponent {
  grid-area: m1/m2/m3/m3;
}

.messagesWithComponent {
  grid-area: m1/m2/m3/m3;
}

.userInfoComponent {
  grid-area: ls2;
}

/* still not given by mutaz! */
.usersComponent {
  grid-area: m1/ m2/m3/m3;
}

.footerComponent {
  grid-area: ftr;
  
}

.registerComponent {
  background-color: var(--spanColor);
  box-shadow: 0px 0px 18px 0px var(--mainBgColor);
  border-radius: 1.5vw;
  grid-area: m2/m3;
}

.actionsComponent {
  grid-area: rs2;
}

.adminDashBoardComponent {
  grid-area: m1/m2/m3/rs1;
}

.adminSideBarComponent{
  grid-area:cvr/ls1/ls2;
}

h3{
  text-decoration: none !important;
}