.usersComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
}
.users {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
  border-radius: 20px;
  height: 10vh;
}
.username {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  grid-gap: 15px;
  gap: 1vw;
}
.username h3 {
  font-family: cursive;
  text-underline-position: under;
}
.username img {
  width: 4vw;
  height: 6vh;
  border-radius: 50%;
}
.actionB {
  display: flex;
  flex-direction: row;
  grid-gap: 1vh;
  gap: 1vh;
  margin: 1vh 1vw;
  padding: 1vh;
  align-items: center;
  width: 15vw;
}
.actionB button {
  border-radius: 1vw;
  width: 100vw;
  font-size: 0.8rem;
  font-weight: 200;
  background-color: rgb(54, 54, 237);
  color: var(--spanColor);
  transition: 0.5s ease;
  border: none;
  padding: 1vh;
}
.actionB button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
