.messagesWithComponent{
    /* overflow-y:scroll; */
}

.messagesCardContainer{

}
.messageContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2em;
    margin-left: 0;
}

.messageContent h6{
    font-size:0.7em !important;  
    color: var(--mainColor) ;
}

.messageInput{
    border-radius: 1vh;;
    display: flex;
    justify-content: space-between;
    margin:0.7em;
    gap: 0.8em;
    padding: 0.8em;
}

.messageInput input{
    border-radius: 2vh;
    height: 3em;
    width:40em;
    border: 1px solid var(--spanColor);
    padding: 1em;
    display: block;
    background-color: var(--mainBgColor);
}

 /* .rightSide{
    display: flex;
    flex-direction: row-reverse;

} */

.MW{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}