.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    border-radius: 1vw;
    background-color: var(--spanColor);
    padding: 1% 1%;
}

.loginBox span a {
    text-decoration: underline;
    display: inline;
    font-size: 1.1rem;
    padding-left: 10px;
}
.loginBox h3 {
    text-decoration: none;
    display: inline-block;
}

.loginBox label {
font-weight: 600;
font-size: 1.1rem;
}

.inputField {
    display: flex;
    flex-direction: row;
}

.inputField label {
    width: 140px;
}

.inputField input {
    border-radius: 2vh;
    height: 5vh;
    border: 1px solid var(--spanColor);
    padding: 0.3rem 0.8rem;
    display: block;
    background-color: var(--mainBgColor);
    width: 20vw;
}

.dropDown {
    display: flex;
}

.dropDown select {
    border-radius: 1vw;
    width: 20vw;
    height: 5vh;
    padding: 0.3rem 0.8rem;
}


.loginBox .btn {
    /* background-color: var(--mainText); */
    background-color:  var(--mainColor);
    color: var(--spanColor);
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    padding: 1vh 2vw;
    border-radius: 2vh;
    transition:0.5s ease;
    width: 70%;
    border: none;
    margin-top: 1.5vh;
}

.loginBox .btn:hover {
    transform: scale(1.1);
}