.showsPostComponent{
    background-color: white;
    width: 100%;
    border-radius: 0.5em;
   gap: 2em;
   
}
.liked{
    color:var(--mainColor);
    font-size: 1.75em;
cursor: pointer;
    
}

.btnStyling{
    display: flex;
    justify-content: space-between;
    gap:1em;
}
.notLiked{
    color:black
}
.likeColor{
font-size: 1.75em;
cursor: pointer;
}
.commentIcon{
    font-size: 1.75em;
    cursor: pointer;
}
.showPosts{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
    background: white; 
    -webkit-box-shadow: 0px 0px 20px -7px rgba(24,23,23,0.41); 
    box-shadow: 0px 0px 20px -7px rgba(24,23,23,0.41);
/* height: 100%; */
border-radius: 1em;

}
.postText{
    font-size: 1.1em;
}
.postBottom{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    
    
}
.tags{
    font-size: 1em;
    font-weight: bold;
}
.likedTags{
    font-size: 1em;
    font-weight: bold;
    color: var(--mainColor); 
}
.tagsComment{
    font-weight: bold;

    font-size: 0.9em;  
}
.likedTagsComment{
    font-weight: bold;
    color: var(--mainColor); 
    font-size: 0.9em;  
}
.postTopLeft{
display: flex;
justify-content: space-between;
gap: 0.5em;
}
.nameAndDate{
    display: flex;
    flex-direction: column;
}
.date{
    font-size: 0.75em;
    
}
.name{
    font-size: 1.2em;
    font-weight: bold;
}
.postUserImg{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    object-fit: cover;
}
.postTop{
    display: flex;
    justify-content: space-between;
}
.PostImg{
    width: 100% ;
    /* height: 70vh; */
    border: none;
}
.commentBtn {
    background-color: green;
    width: 6em;
    float: right;
    padding: 0.8em;
    border-radius: 0.75em;
font-size: 2em;
    border: none;
    color: white;
    font-size: 0.7rem;
    cursor: pointer;
   font-weight: bold;
   transition: 0.5s ease;

  }
  .report{
      cursor: pointer;
      
  }
  
.deleteBtn{
    background-color: #898F9C;
    color: white;
    padding: 0.25em 0.25em;
    font-weight: bold;
   
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    opacity: 0.9;
    
 
}
.settingBtn{
    cursor: pointer;
}
.inputUpdateComment{
    padding: 1em;
    border: none;
    background-color: rgb(203, 203, 203);
    
}
.updateBtn{
    background-color: #898F9C;
    color: white;
    padding: 0.25em 0.25em;
   color: white;
   font-weight: bold;
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    opacity: 0.9;
}
.deleteBtn:hover,.updateBtn:hover{
    opacity: 1;

}
.commentBtn:hover{
    transform: scale(1.2);
}
  .comments{
      display: flex;
      flex-direction: column;
     
      height: 100%;
      justify-content: space-between;
      
  }
  .commentsDet{
      /* display: flex;
      flex-direction: column;
      justify-content: space-between; */
      border: 1px solid;
      border-radius: 2em;
   
      margin-bottom: 1em;
      padding: 0.8em;
      font-size: 1vw;
      width: 100%;
  }
  .commenterPicAndName{
      display: flex;
      justify-content: space-between;
      gap:0.7em
  }
  .displayCont{
      display: flex;
      justify-content: space-between;
      gap: 1em;
  }
  .commenterPic{
    width: 2.1em;
    height: 2.1em;
    border-radius: 50%;
    object-fit: cover;
  }
  .comment{
      font-size: 1vw;
  }
  .commentBox{
      width: 80%;
      border-radius: 1.5em;
      padding: 1em;
      box-sizing: border-box;
      resize: none;
      

  }
.settingComments{
    float: right;
    margin-right: 0px;
}
.commenterPicAndName{
    width: 100%;
}
.commenterNameAndPost{
    width: 35vw;
    background-color: rgb(222, 220, 220);
    border-radius: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.dateAndLike{
    display: flex;
    gap: 1em;
}
.commenterNameAndPost{
    font-size: 1em;
}
.commenterName{
    font-weight: bold;
}
.createdTime{
    font-size: 0.8em;
}
.commentLiked{
    cursor: pointer;
    color: var(--mainColor);
    font-size: 1.3em;
}
.commentNotLiked{
    cursor: pointer;
    font-size: 1.3em;
}