.showsPostComponent{
    background-color: white;
    width: 100%;
    border-radius: 0.5em;
   gap: 2em;
    
}
.liked{
    color:blue;
    
}
.notLiked{
    color:black
}
.showPosts{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    background: white; 
    -webkit-box-shadow: 0px 0px 20px -7px rgba(24,23,23,0.41); 
    box-shadow: 0px 0px 20px -7px rgba(24,23,23,0.41);

}
.postText{
    font-size: 1.1em;
}
.postBottom{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    
    
}
.tags{
    font-size: 1em;
    font-weight: bold;
}
.postTopLeft{
display: flex;
justify-content: space-between;
gap: 0.5em;
}
.nameAndDate{
    display: flex;
    flex-direction: column;
}
.date{
    font-size: 0.75em;
    
}
.name{
    font-size: 1.2em;
    font-weight: bold;
}
.postUserImg{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    object-fit: cover;
}
.postTop{
    display: flex;
    justify-content: space-between;
}
.PostImg{
    width: 70% ;
    height: 80%;
    border: none;
}
.commentBtn {
    background-color: rgb(38, 78, 61);
    width: 6em;
    float: right;
    padding: 0.8em;
    border-radius: 2em;
    color: white;
    font-size: 0.7rem;
  }
  .comments{
      display: flex;
      flex-direction: column;
     
      height: 100%;
      justify-content: space-between;
      
  }
  .commentsDet{
      /* display: flex;
      flex-direction: column;
      justify-content: space-between; */
      border: 1px solid;
      border-radius: 2em;
   
      margin-bottom: 1em;
      padding: 0.8em;
      font-size: 1vw;
  }
  .commenterPicAndName{
      display: flex;
      justify-content: space-between;
      gap:0.7em
  }
  .displayCont{
      display: flex;
      justify-content: space-between;
      gap: 1em;
  }
  .commenterPic{
    width: 2.1em;
    height: 2.1em;
    border-radius: 50%;
    object-fit: cover;
  }
  .comment{
      font-size: 1vw;
  }
  .commentBox{
      width: 80%;
      border-radius: 2em;
      padding: 0.5em;

  }
.settingComments{
    float: right;
    margin-right: 0px;
}
.commenterPicAndName{
    width: 100%;
}
.commenterNameAndPost{
    width: 40vw;
    background-color: rgb(222, 220, 220);
    border-radius: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.dateAndLike{
    display: flex;
    gap: 1em;
}
.commenterNameAndPost{
    font-size: 1em;
}
.commenterName{
    font-weight: bold;
}
.createdTime{
    font-size: 0.8em;
}